<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        v-data-table.elevation-1(
          v-model='selected'
          :items='table'
          :headers='tableHdr'
          item-key='title'
        )
          template(v-slot:item.action="srv")
            v-icon.mr-2(small @click='editItem(srv.item)') edit
            v-icon(small @click='deleteItem(srv.item)') delete
      v-flex(xs12)
        v-btn.mb-2(color='pink' fab absolute right bottom dark @click='newItem')
          v-icon add_circle

    v-dialog(v-model='dialog' persistent max-width='80%')
      v-form(ref="form" @submit.prevent="saveForm")
        card-toolbar(
          :title="formTitle"
          v-on:close="dialog = false"
          buttons
        )
          v-container(grid-list-md)
            v-layout(wrap)
              v-flex(xs12 sm6 md4)
                char-field(
                  v-model="editedItem.title"
                  label="Title"
                  autofocus
                  :maxLen="128"
                )
              v-flex(xs12 sm6 md4)
                number-field(
                  v-model.number="editedItem.speed_in"
                  :required="false"
                  positive
                  label="Входящая скорость"
                )
              v-flex(xs12 sm6 md4)
                number-field(
                  v-model.number="editedItem.speed_out"
                  :required="false"
                  label="Исходящая скорость"
                  positive
                )
              v-flex(xs12 sm6 md4)
                number-field(
                  v-model.number="editedItem.cost"
                  :required="false"
                  label="Стоимость"
                  positive
                )
              v-flex(xs12 sm6 md4)
                v-select(
                  :items="calc_types"
                  v-model="editedItem.calc_type"
                  label="Calc type"
                  :error-messages="errors.calc_type"
                )
              v-flex(xs12 sm6 md4)
                v-switch(
                  v-model="editedItem.is_admin"
                  label="Is admin"
                  :error-messages="errors.is_admin"
                )
              v-flex(xs12)
                v-textarea(
                  v-model="editedItem.descr"
                  label="Description"
                  :error-messages="errors.descr"
                )

</template>


<script>
import templateBase from "../../plugins/templateBase";
import baseComponent from "../../plugins/baseComponent";
import charField from "../../plugins/fields/charField";
import numberField from "../../plugins/fields/numberField";
import cardToolbar from "../../plugins/cardToolbar";

export default {
  name: "service-list",
  components: {
    templateBase,
    charField,
    numberField,
    cardToolbar
  },
  mixins: [baseComponent],
  methods: {
    editItem(item) {
      this.newFlag = false;
      Object.assign(this.editedItem, item);
      this.dialog = true;
    },
    deleteItem(item) {
      const index = this.table.indexOf(item);
      if (confirm(`Вы действительно хотите удалить тариф "${item.title}"?`)) {
        this.$http.delete(`/services/${item.pk}/`).then(() => {
          this.table.splice(index, 1);
          this.showMessage("Service deleted");
        });
      }
    },
    newItem() {
      this.newFlag = true;
      this.editedItem = Object.assign({}, this.initialItem);
      this.dialog = true;
    },
    saveForm() {
      if (this.$refs.form.validate()) {
        let request;
        if (this.newFlag) {
          request = this.$http.post("/services/", this.editedItem);
        } else {
          request = this.$http.put(
            `/services/${this.editedItem.pk}/`,
            this.editedItem
          );
        }
        request.then(() => {
          this.dialog = false;
          this.fetchData();
          this.showMessage("Service created");
        });
      } else {
        this.showMessage("Form has errors");
      }
    },
    fetchData() {
      this.$http.get("/services/").then(r => {
        const dt = r.data;
        this.table = [];
        for (const k in dt) {
          this.table.push(Object.assign({}, dt[k]));
        }
      });
    }
  },
  mounted() {
    this.fetchData();
  },
  computed: {
    formTitle() {
      return this.newFlag ? "New service" : "Edit service";
    }
  },
  data() {
    return {
      selected: [],
      dialog: false,
      pagination: {
        sortBy: "title"
      },
      tableHdr: [
        { text: "Title", sortable: true, value: "title" },
        { text: "Inbound speed (MBit/s)", sortable: true, value: "speed_in" },
        { text: "Outbound speed (MBit/s)", sortable: true, value: "speed_out" },
        { text: "Cost", sortable: true, value: "cost" },
        { text: "User count", sortable: true, value: "usercount" },
        { text: "Script", value: "calc_type" },
        { text: "Actions", value: "action", sortable: false }
      ],
      table: [],
      newFlag: true,
      initialItem: {
        pk: 0,
        title: "",
        descr: "",
        speed_in: 0,
        speed_out: 0,
        cost: 0,
        calc_type: 1,
        is_admin: false
      },
      editedItem: {},
      calc_types: [
        { value: 0, text: "Base calculate functionality" },
        { value: 1, text: "IS" },
        { value: 2, text: "Private service" },
        { value: 3, text: "IS Daily service" }
      ],
      errors: {
        descr: "",
        calc_type: "",
        is_admin: ""
      }
    };
  }
};
</script>
