<template lang="pug">
  v-layout(column)
    v-flex
      v-card
        v-card-text.grey.lighten-5(ma-1)
          v-layout
            v-flex(xs2 pa-0)
              v-layout(column ma-0 justify-center align-center)
                v-icon.largeic computer
            ip-block(:customer="customer" :uid="uid" v-on:done="$emit('update')")
    v-flex(pt-3)
      v-card
        v-card-text.grey.lighten-5
          v-layout
            v-flex(xs2)
              v-layout(column ma-0 justify-center align-center)
                v-icon.largeic storage
            v-layout(column ma-0 justify-center)
              select-field(
                :items="devs"
                v-model="dev"
                label="Выберите устройство тут"
                flat
              )
              select-field(
                :items="ports"
                v-model="port"
                label="Порт устройства"
                flat
              )
              v-switch(
                v-model="is_dynamic"
                label="Динамические настройки по dhcp"
                hide-details
              )
              div
                v-btn(color="primary" small @click="updateDat" :loading="saveProg" :disabled="isDirty") Save
</template>

<script>
import selectField from "../../../../plugins/fields/selectField";
import ipBlock from "../customerDev/ipBlock";

export default {
  name: "customer-dev",
  components: {
    selectField,
    ipBlock
  },
  props: {
    uid: Number,
    customer: {
      type: Object,
      required: true
    }
  },
  mounted() {
    this.fetchDevs();
  },
  data() {
    return {
      devs: [],
      dev: this.customer.device,
      ports: [],
      port: this.customer.dev_port,
      is_dynamic: this.customer.is_dynamic_ip,
      saveProg: false
    };
  },
  watch: {
    dev(devId) {
      if (devId !== 0) this.fetchPorts(devId);
    },
    customer: {
      handler(c) {
        this.port = c.dev_port;
        this.is_dynamic = c.is_dynamic_ip;
        this.dev = c.device;
      },
      deep: true
    }
  },
  computed: {
    isDirty() {
      return (
        this.dev === this.customer.device &&
        this.port === this.customer.dev_port &&
        this.is_dynamic === this.customer.is_dynamic_ip
      );
    }
  },
  methods: {
    fetchDevs() {
      this.$http.get("/devices/").then(r => {
        this.devs = [];
        for (const v of r.data) {
          this.devs.push({
            value: v.pk,
            text: v.comment
          });
        }
      });
    },
    fetchPorts(devId) {
      this.$http
        .get("/devices/ports/", { params: { device: devId } })
        .then(r => {
          this.ports = [];
          for (const v of r.data) {
            this.ports.push({
              value: v.pk,
              text: v.descr
            });
          }
        });
    },
    updateDat() {
      this.saveProg = true;
      this.$http
        .patch(`/customers/${this.uid}/`, {
          dev_port: this.port,
          is_dynamic_ip: this.is_dynamic,
          device: this.dev
        })
        .then(() => {
          this.saveProg = false;
          this.$emit("update");
        });
    }
  }
};
</script>

<style>
.largeic {
  font-size: 76px;
}
</style>
