<template lang="pug">
  v-form(ref="form" @submit.prevent="saveFrm")
    card-toolbar(
      title="Назначить IP адрес"
      v-on:close="closeFrm"
      buttons
    )
      ip-field(
        v-model="ip"
      )
      select-field(
        :items="nets"
        v-model="net"
        label="Выберите подсеть"
        flat
      )
      v-btn(
        :disabled="btndis"
        :loading="loading"
        @click="getIp"
      ) Подобрать
</template>

<script>
import baseComponent from "../../../../plugins/baseComponent";
import cardToolbar from "../../../../plugins/cardToolbar";
import ipField from "../../../../plugins/fields/ipField";
import selectField from "../../../../plugins/fields/selectField";

export default {
  name: "ip-assign",
  props: {
    ipAddr: String,
    uid: Number
  },
  mixins: [baseComponent],
  components: {
    cardToolbar,
    ipField,
    selectField
  },
  mounted() {
    this.fetchNets();
  },
  methods: {
    closeFrm() {
      this.$emit("done");
    },
    saveFrm() {
      if (this.$refs.form.validate()) {
        this.$http
          .patch(`/customers/${this.uid}/`, {
            ip_address: this.ip
          })
          .then(() => {
            this.closeFrm();
          });
      } else {
        this.showMessage("Ошибки");
      }
    },
    fetchNets() {
      this.$http.get("/networks/").then(r => {
        this.nets = [];
        for (const v of r.data) {
          this.nets.push({
            value: v.id,
            text: `${v.network} (${v.description})`
          });
        }
      });
    },
    getIp() {
      if (this.net !== 0) {
        this.loading = true;
        this.$http.get(`/networks/${this.net}/get_free_ip/`).then(r => {
          if (r.data) this.ip = r.data;
          this.loading = false;
        });
      }
    }
  },
  watch: {
    ipAddr(v) {
      this.ip = v;
    }
  },
  computed: {
    btndis() {
      return this.net === 0;
    }
  },
  data() {
    return {
      ip: this.ipAddr,
      net: 0,
      nets: [],
      loading: false
    };
  }
};
</script>
