<template lang="pug">
  v-layout(column ma-0)
    span.body-1 IP Адрес 
      b {{ ipHuman }}
    span.body-1 Last traffic 
      b 18:21, 0.79Mb / 1 мин. 4158п
    div
      ping-btn(:ip="customer.ip_address" :uid="uid")
      v-btn.ma-0.mt-1(
        color="primary" small
        outline
        @click="changeIp"
      )
        v-icon edit
        span.caption Изменить
    v-dialog(v-model="dialog" persistent max-width="30%")
      ip-assign(:ipAddr="customer.ip_address" v-on:done="closeFrm" :uid="uid")
</template>

<script>
import pingBtn from "./pingBtn";
import ipAssign from "./ipAssign";

export default {
  name: "ip-block",
  props: {
    uid: Number,
    customer: {
      type: Object,
      required: true
    }
  },
  computed: {
    ipHuman() {
      if (this.customer.ip_address) {
        return this.customer.ip_address;
      } else return "IP не назначен";
    }
  },
  components: {
    pingBtn,
    ipAssign
  },
  methods: {
    changeIp() {
      this.dialog = true;
    },
    closeFrm() {
      this.dialog = false;
      this.$emit("done");
    }
  },
  data() {
    return {
      dialog: false
    };
  }
};
</script>
