<template lang="pug">
  v-btn.ma-0.mt-1(
    color="success" small
    @click="ping"
    :loading="loadProc"
    :disabled="pingDisabled"
    outline
  )
    v-icon hearing
    span.caption {{ btnText }} - Ip:{{ ip }}
</template>

<script>
export default {
  name: "ping-btn",
  props: {
    uid: Number,
    ip: {
      type: String,
      default: null
    }
  },
  methods: {
    ping() {
      this.loadProc = true;
      this.$http
        .get(`/customers/${this.uid}/ping/`)
        .then(r => {
          this.loadProc = false;
          this.btnText = r;
        })
        .catch(r => {
          this.loadProc = false;
          this.btnText = r.response.data;
        });
    }
  },
  computed: {
    pingDisabled() {
      return this.loadProc || !this.uid || this.ip === null;
    }
  },
  data() {
    return {
      loadProc: false,
      btnText: "Ping"
    };
  }
};
</script>
