<template lang="pug">
  v-form(ref="form" @submit.prevent="saveForm")
    card-toolbar(
      title="Пополнить счёт"
      caption="Можно пополнять на отрицательную сумму"
      v-on:close="close"
      buttons
    )
      number-field(
        v-model.number="cash"
        label="Сумма пополнения"
      )
</template>

<script>
import numberField from "../../../../plugins/fields/numberField";
import cardToolbar from "../../../../plugins/cardToolbar";

export default {
  name: "add-cash",
  components: {
    numberField,
    cardToolbar
  },
  methods: {
    saveForm() {
      this.close();
    },
    close() {
      this.$emit("done");
    }
  },
  data() {
    return {
      cash: 0.0
    };
  }
};
</script>
