<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      v-flex(sm6 pa-1)
        v-card
          v-toolbar(color="grey lighten-4" flat height="45px")
            v-toolbar-title
              span.body-1 Редактировать задачу
          v-card-text
            v-container(grid-list-md)
              v-layout(wrap)
                v-flex(sm12)
                  task-form(:task="task" v-on:done="fetchTask")
      v-flex(sm6 pa-1)
        v-layout(column)
          v-flex(sm6)
            v-card
              v-toolbar(color="grey lighten-4" flat height="45px")
                v-toolbar-title
                  span.body-1 Детали задачи
              v-card-text
                v-container(grid-list-xl)
                  v-layout
                    v-flex(sm12)
                      p.mb-1 Описание: {{ task.descr }}
                      p.mb-1 Автор задачи 
                        router-link(:to="{name: 'account_link', params:{puname:task.author_uname}}") {{ task.author_full_name }}
                      p.mb-1 Исполнители:
                        ul
                          li(v-for="rcp in recipients")
                            router-link(:to="{name: 'account_link', params:{puname: rcp.username}}") {{ rcp.full_name }}
                      table
                        tr
                          td Приоритет:
                          td
                            b {{ task.priority_name }}
                        tr(v-if="task.out_date")
                          td Задача действительна до:
                          td
                            b {{ task.out_date }}
                        tr
                          td Дата создания:
                          td
                            b {{ task.time_of_create }}
                        tr
                          td Время ожидания истекло:
                          td
                            b {{ task.time_diff }}
                        tr
                          td Тип задачи:
                          td
                            b {{ task.mode_str }}
                        tr
                          td Состояние:
                          td
                            b {{ task.state_str }}
                        tr(v-if="task.customer")
                          td Абонент:
                          td
                            router-link(:to="{name: 'customerInfo', params:{ groupId: task.customer_group, uid: task.id }}") {{ task.customer_full_name }}
          v-flex(sm6 pt-2)
            task-comments(:taskId="task.id")
</template>

<script>
import templateBase from "../../plugins/templateBase";
import taskForm from "./taskForm";
import taskComments from "./taskComments";

export default {
  name: "task-details",
  components: {
    templateBase,
    taskForm,
    taskComments
  },
  props: {
    taskId: {
      type: Number,
      required: true
    }
  },
  mounted() {
    this.fetchTask();
    this.fetchRecipients();
  },
  methods: {
    fetchTask() {
      if (!this.taskId) return;
      this.$http.get(`/tasks/${this.taskId}/`).then(r => {
        this.task = r.data;
      });
    },
    fetchRecipients() {
      this.$http.get(`/tasks/${this.taskId}/recipients/`).then(r => {
        this.recipients = r.data;
      });
    }
  },
  computed: {},
  data: () => ({
    task: {},
    recipients: []
  })
};
</script>

<!--<style src="../../../plugins/dtdl.css"></style>-->