<template lang="pug">
  v-card
    v-toolbar(color="grey lighten-4" height="45px")
      v-toolbar-title
        span.body-1 Комментарии задачи
    v-list(three-line)
      v-list-tile(v-for="c in comments" :key="c.id" avatar)
        v-list-tile-avatar
          img(:src="c.author_avatar")
        v-list-tile-content
          v-list-tile-title {{ c.author_name }} 
            span.caption.grey--text.lighten-1 {{ c.date_create }}
          v-list-tile-sub-title {{ c.text }}
        //- TODO: показывать только принадлежавшие себе комменты
        v-list-tile-action
          v-icon(small @click="delC(c)") clear
      v-divider(inset)
    v-card-actions
      v-layout(column)
        v-flex
          v-textarea(
            label="Напишите ваш комментарий тут"
            v-model="text"
          )
          v-btn(
            color="primary"
            small :disabled="!sendPossible"
            :loading="isLoading"
            @click="sendC"
          ) Отправить
</template>

<script>
const url = "/tasks/comments/";

export default {
  name: "task-comments",
  props: {
    taskId: {
      type: Number,
      default: 0
    }
  },
  mounted() {
    this.fetchC();
  },
  methods: {
    fetchC() {
      this.$http.get(url).then(r => {
        this.comments = r.data;
      });
    },
    sendC() {
      if (this.sendPossible) {
        this.isLoading = true;
        this.$http
          .post(url, {
            text: this.text,
            task: this.taskId
          })
          .then(() => {
            this.fetchC();
            this.isLoading = false;
            this.text = "";
          });
      }
    },
    delC(c) {
      if (confirm("Удалить комментарий?")) {
        // TODO: удалять только принадлежавшие себе комменты
        this.$http.delete(`${url}${c.id}/`).then(() => {
          this.fetchC();
        });
      }
    }
  },
  computed: {
    sendPossible() {
      if (this.text && this.taskId !== 0) return true;
      return false;
    }
  },
  data: () => ({
    comments: [],
    text: "",
    isLoading: false
  })
};
</script>
