<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      v-flex(xs12)
        v-data-table.elevation-1(
          v-model='selected'
          :items='tasks'
          :headers='tableHdr'
        )
          template(v-slot:item.customer_full_name="tsk")
            router-link(:to="{name: 'customerInfo', params:{groupId: tsk.item.customer_group, uid: tsk.item.customer}}") {{ tsk.item.customer_full_name }}
          template(v-slot:item.action="tsk")
            router-link(:to="{name: 'taskDetails', params:{taskId: tsk.item.id}}")
              v-icon.mr-2(small) visibility
            v-icon(small @click='deleteItem(tsk.item)') delete
          template(v-slot:footer)
            div.text-right
              v-btn(color='error' @click='deleteSelected' icon small title="Удалить задачи" :disabled="selected.length === 0")
                v-icon remove_circle
          template(v-slot:no-data)
            span Задачи не найдены :(
      v-flex(xs12)
        v-btn(color="pink" dark fab large absolute bottom right @click="modalForm")
          v-icon add_circle

    v-dialog(v-model="dialog" persistent width="50%")
      v-card
        v-toolbar(color="grey lighten-3" flat)
          v-toolbar-title Добавить задачу
          v-spacer
          v-btn(icon @click="dialog = false")
            v-icon(small color="red") clear
        v-card-text
          task-form(v-on:done="frmDone")
</template>

<script>
import templateBase from "../../plugins/templateBase";
import baseComponent from "../../plugins/baseComponent";
import taskForm from "./taskForm";

export default {
  name: "tasks-list",
  components: {
    templateBase,
    taskForm
  },
  mixins: [baseComponent],
  mounted() {
    this.fetchTasks();
  },
  data() {
    return {
      selected: [],
      tasks: [],
      tableHdr: [
        { text: "id", sortable: false, value: "id" },
        {
          text: "Имя абонента",
          sortable: true,
          value: "customer_full_name"
        },
        { text: "Адрес", sortable: false, value: "customer_address" },
        { text: "Характер поломки", sortable: true, value: "state_str" },
        { text: "Описание", sortable: false, value: "descr" },
        { text: "Автор задачи", sortable: true, value: "author_full_name" },
        { text: "Дата создания", sortable: true, value: "time_of_create" },
        { text: "Действия", value: "action", sortable: false }
      ],
      dialog: false
    };
  },
  methods: {
    deleteItem(i) {
      if (confirm("Удалить задачу?")) {
        this.$http.delete(`/tasks/${i.id}/`).then(() => {
          this.showMessage("Задача удална");
          this.fetchTasks();
        });
      }
    },
    async deleteSelected() {
      if (
        confirm(
          `Вы действительно хотите удалить ${this.selected.length} задач?`
        )
      ) {
        for (const v of this.selected) {
          await this.$http.delete(`/tasks/${v.id}/`);
        }
        this.fetchTasks();
      }
    },
    fetchTasks() {
      this.$http.get("/tasks/").then(r => {
        this.tasks = r.data;
      });
    },
    modalForm() {
      this.dialog = true;
    },
    frmDone() {
      this.dialog = false;
      this.fetchTasks();
    }
  }
};
</script>
