<template lang="pug">
  v-form(ref="form" @submit.prevent="saveForm")
    char-field(
      v-model="frm.descr"
      label="Описание"
      :maxLen="128"
      :required="false"
      ic="description"
    )
    v-select(
      v-model="frm.recipients"
      :items="accs"
      label="Исполнители"
      menu-props="offsetY"
      :rules="[recipientsErrs]"
      multiple required chips attach
      prepend-icon="perm_identity"
    )
    select-field(
      :items="priorities"
      v-model="frm.priority"
      label="Приоритет"
      ic="swap_vertical_circle"
    )
    v-menu(
      menu-props="offsetY"
    )
      template(v-slot:activator="{ on }")
        v-text-field(
          v-model="outDate"
          label="Актуальность (дата, до которой нужно завершить задачу)"
          prepend-icon="watch"
          v-on="on"
        )
      v-date-picker(
        v-model="frm.out_date"
        no-title
        locale="ru"
      )
    select-field(
      :items="states"
      v-model="frm.state"
      label="Состояние"
      ic="dns"
    )
    select-field(
      :items="modes"
      v-model="frm.mode"
      label="Характер поломки"
      ic="dehaze"
    )
    customer-find-field(v-model="frm.customer")
    v-btn(color="primary" type="submit" :disabled="isCleanFrm" :loading="saveBtnLoad" small)
      v-icon save
      | Сохранить
    v-btn(v-if="!isNew" color="error" @click="delTask" small)
      v-icon clear
      | Удалить
    v-btn(v-if="initState === 0" color="info" @click="finTask" small)
      v-icon done
      | Завершить
</template>

<script>
import baseComponent from "../../plugins/baseComponent";
import charField from "../../plugins/fields/charField";
import selectField from "../../plugins/fields/selectField";
import customerFindField from "../customers/customerFindField.vue";

export default {
  name: "task-form",
  components: { charField, selectField, customerFindField },
  mixins: [baseComponent],
  props: {
    task: {
      type: Object,
      default() {
        return {
          id: 0,
          descr: "",
          recipients: [],
          priority: 0,
          out_date: new Date().toISOString().substr(0, 10),
          state: 0,
          mode: 0,
          customer: 0
        };
      }
    }
  },
  mounted() {
    this.fetchAccs();
  },
  methods: {
    saveForm() {
      if (this.$refs.form.validate()) {
        this.saveBtnLoad = true;
        let r;
        if (this.isNew) r = this.$http.post("/tasks/", this.frm);
        else r = this.$http.put(`/tasks/${this.frm.id}/`, this.frm);
        r.then(() => {
          this.saveBtnLoad = false;
          this.$emit("done");
        });
      }
    },
    fetchAccs() {
      this.accs = [];
      this.$http.get("/profiles/accounts/").then(r => {
        for (const v of r.data) {
          this.accs.push({
            value: v.pk,
            text: `${v.username}. ${v.fio}`
          });
        }
      });
    },
    recipientsErrs(v) {
      if (v.length < 1) {
        return "Нужно кого-то выбрать";
      }
      return true;
    },
    delTask() {
      if (confirm("Удалить эту задачу?")) {
        this.saveBtnLoad = true;
        this.$http.delete(`/tasks/${this.task.id}/`).then(() => {
          this.showMessage("Задача удалена");
          if (this.isNew) this.$emit("done");
          else this.$router.push("/tasks/");
          this.saveBtnLoad = false;
        });
      }
    },
    finTask() {
      this.$http.get(`/tasks/${this.task.id}/finish/`).then(() => {
        this.showMessage("Задача завершена");
        this.$router.push("/tasks/");
      });
    }
  },
  computed: {
    outDate() {
      if (!this.frm.out_date) return null;
      const [year, month, day] = this.frm.out_date.split("-");
      return `${year}-${month}-${day}`;
    },
    isCleanFrm() {
      for (const [k, v] of Object.entries(this.task)) {
        if (this.frm[k] == v) continue;
        else return false;
      }
      return true;
    },
    isNew() {
      return this.frm.id === 0;
    }
  },
  watch: {
    task() {
      this.frm = Object.assign({}, this.task);
      this.initState = this.task.state;
    }
  },
  beforeDestroy() {
    delete this.task.out_date;
  },
  data() {
    return {
      frm: Object.assign({}, this.task),
      accs: [],
      priorities: [
        { value: 0, text: "Низкий" },
        { value: 1, text: "Средний" },
        { value: 2, text: "Высокий" }
      ],
      states: [
        { value: 0, text: "Новая" },
        { value: 1, text: "Провалена" },
        { value: 2, text: "Выполнена" }
      ],
      modes: [
        { value: 0, text: "не выбрано" },
        { value: 1, text: "Ip конфликт" },
        { value: 2, text: "жёлтый треугольник" },
        { value: 3, text: "красный крестик" },
        { value: 4, text: "слабая скорость" },
        { value: 5, text: "обрыв кабеля" },
        { value: 6, text: "подключение" },
        { value: 7, text: "переодическое пропадание" },
        { value: 8, text: "настройка роутера" },
        { value: 9, text: "настроить onu" },
        { value: 10, text: "обжать кабель" },
        { value: 11, text: "Нет интернета" },
        { value: 12, text: "другое" }
      ],
      saveBtnLoad: false,
      initState: this.task.state
    };
  }
};
</script>
