<template lang="pug">
  v-layout(column)
    v-flex
      v-list(two-line)
        v-list-tile(v-for="v in services" :key="v.pk" avatar @click="")
          v-list-tile-avatar
            v-icon.grey.lighten-1.white--text shopping_cart
          v-list-tile-content
            v-list-tile-title {{ v.title }}
            v-list-tile-sub-title
              b {{ v.cost }} 
              span {{ v.speedIn }} / {{ v.speedOut }}
          v-list-tile-action
            v-btn(icon)
              v-icon(color="grey lighten-1") shopping_cart
        v-divider(inset)
        v-list-tile
          v-btn(color="primary")
            v-icon save
            | Добавить доступные услуги сюда

</template>

<script>
export default {
  name: "avail-services",
  data() {
    return {
      services: [
        {
          title: "100MBit/s",
          cost: "500.0 руб",
          speedIn: 100.0,
          speedOut: 100.0
        },
        {
          title: "Новоекатер. 10",
          cost: "0 руб",
          speedIn: 10.0,
          speedOut: 10.0
        },
        { title: "Суточный", cost: "50.0 руб", speedIn: 11.0, speedOut: 11.0 },
        { title: "Юр 10", cost: "0 руб", speedIn: 11.0, speedOut: 11.0 }
      ]
    };
  }
};
</script>
