<template lang="pug">
  v-layout(column)
    v-flex
      dl
        dt Услуга
        dd 100MBit/s
        dt Сумма
        dd 500 руб
        dt Входящая скорость
        dd 100.0
        dt Исходящая скорость
        dd 100.0
        dt Дата начала
        dd 01 июля 2019, Понедельник 18:30
        dt Действует до
        dd 31 июля 2019, Среда 23:59
        dt Последняя подключённая услуга
        dd 100MBit/s
        dt Автопродление услуги.
        dd
          v-checkbox.ma-0.pa-0(:value="true" hide-details)
      p.ma-2 доступ в интернет на скорости до 100MBit/s
      v-btn(color="error" ma-0)
        v-icon(ma-0) clear
        | Завершить услугу
</template>

<script>
export default {
  name: "current-service"
};
</script>

<style src="../../../../plugins/dtdl.css"></style>
