<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      v-flex(xs3)
        v-card
          v-img(src='https://cdn.vuetifyjs.com/images/cards/desert.jpg')
          v-card-actions
            v-btn(type='file') Edit
            v-btn reset
      v-flex(xs9)
        v-container
          v-layout(wrap)
            v-flex(xs12)
              v-card
                v-card-title Add account
                v-card-text
                  v-form(ref='form')
                    uname-field(v-model="form.username" label="username" :maxLen="127")
                    char-field(v-model="form.fio" label="ФИО" :maxLen="256" )
                    v-switch(v-model='form.is_active' label='Is active')
                    v-switch(v-model='form.is_admin' label='Is admin')
                    phone-field(v-model='form.telephone' label='Telephone' :maxLen='16' )
                    v-text-field(v-model='form.email' label='Адрес электронной почты' required :rules='valEmail')
                    passw-field(v-model='form.password' label='Password')
                v-card-actions
                  v-btn(@click='sendForm') Save
                  | {{ form }}

</template>

<script>
import unameField from "../../plugins/fields/unameField";
import charField from "../../plugins/fields/charField";
import phoneField from "../../plugins/fields/phoneField";
import passwField from "../../plugins/fields/passwField";

import VAL from "../../plugins/validate_rules";
import templateBase from "../../plugins/templateBase";

export default {
  name: "AccountForm",
  components: {
    templateBase,
    unameField,
    charField,
    phoneField,
    passwField
  },
  props: {
    puname: {
      type: String,
      required: true
    }
  },
  data: () => {
    return {
      form: {
        username: "",
        fio: "",
        is_active: true,
        is_admin: true,
        email: "",
        password: ""
      },
      valEmail: [VAL.email],
      errors: {
        email: null
      }
    };
  },
  mounted: function() {
    if (this.puname) {
      let t = this;
      this.$http.get(`/profiles/accounts/${this.puname}/`).then(r => {
        //- Object.assign(t.form, r.data);
        t.form.username = r.data.username;
        //- console.log("Mounted", t.form);
        t.form.password = null;
      });
    }
  },
  methods: {
    sendForm: function() {
      if (this.$refs.form.validate()) {
        let req;
        if (this.puname) {
          req = this.$http.put(`/profiles/accounts/${this.puname}/`, this.form);
        } else {
          req = this.$http.post("/profiles/accounts/", this.form);
        }
        req.then(() => {
          this.showSnack("Сохранено");
        });
      } else {
        this.showSnack("Ошибка в форме");
      }
    },
    showSnack(text) {
      this.$store.dispatch("SNACKBAR_SHOW", text);
    }
  }
};
</script>
