<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      v-flex(v-for="(t, i) in table_items" :key="i" xs3 pa-1)
        v-card(flat tile)
          v-img(src="/img/user_ava_min.gif" width="100")
          v-card-title(primary-title) {{ t.uname }}
            small {{ t.fname }}
          v-card-text
            | Tepehone
            span {{ t.tel }}
            br
            | Email
            span {{ t.email }}
            br
            | Is admin {{ t.isAdmin }}
            br
            | Is active {{ t.isActive }}
          v-card-actions
            v-btn(:to="t.to")
              v-icon(dark) visibility
              | View
            v-btn(color="error" disabled)
              v-icon(dark) delete_forever
              | Delete
    v-layout
      v-flex(xs12)
        v-btn(color="pink" dark absolute bottom right :to="{name:'accounts_add'}")
          v-icon add
</template>

<script>
import templateBase from "../../plugins/templateBase";

export default {
  name: "AccountsList",
  components: {
    templateBase
  },
  data: function() {
    return {
      table_items: [
        {
          uname: "no",
          fname: "no",
          tel: "no",
          email: "no",
          isActive: false,
          isAdmin: false,
          to: {}
        }
      ]
    };
  },
  mounted: function() {
    this.$http
      .get("/profiles/accounts/")
      .then(r => {
        // let next = r.next;
        let dt = r.data;
        this.table_items = [];
        for (let k in dt) {
          let v = dt[k];
          this.table_items.push({
            uname: v["username"],
            fname: v["fio"],
            tel: v["telephone"],
            email: v["email"],
            isActive: v["is_active"],
            isAdmin: v["is_admin"],
            to: { name: "account_link", params: { puname: v["username"] } }
          });
        }
      })
      .catch(this.catchReqHandle);
  }
};
</script>
