<template lang="pug">
  template-base(:breadcrumbs='brd')
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      v-flex(xs3)
        v-card
          v-img(src='/img/user_ava.gif', width='170')
          v-card-title(primary-title='primary title')
            div
              h3.headline.mb-0  Kangaroo Valley Safari
              div  dasd
          v-card-actions
            v-btn(text color='orange' :to="{name: 'account_edit_link', params:{puname: puname}}") Edit
            v-btn(text color='orange') Permissions
      v-flex(xs9)
        v-tabs
          v-tab.primary--text
            v-icon face
            | Account
          v-tab
            v-icon assignment
            | Responsibilities
          v-tab
            v-icon lock
            | Access to groups
          v-tab-item
            h1 tab 1
          v-tab-item
            responsibilities(:breadcrumbs='brd')
          v-tab-item
            h1 tab 3

</template>

<script>
import templateBase from "../../plugins/templateBase";
import Responsibilities from "./Responsibilities";

export default {
  name: "Account",
  components: {
    templateBase,
    Responsibilities
  },
  props: {
    puname: {
      type: String,
      required: true
    }
  },
  data: function() {
    return {
      tabs: null,
      brd: [
        {
          text: "Accounts",
          disabled: false,
          to: { name: "accounts" }
        },
        {
          text: "Profile",
          disabled: true,
          href: "#"
        }
      ]
    };
  }
};
</script>
