<template lang='pug'>
  template-base
    v-layout
      v-flex(xs12)
        v-form(ref="form")
          v-checkbox(v-for="(g, i) in grps" v-model="g.v" :label="g.label" height="0" :key="i")
          v-btn(@click="sendForm") Save
      pre {{grps}}
</template>

<script>
import templateBase from "../../plugins/templateBase";

export default {
  name: "responsibilities",
  components: {
    templateBase
  },
  props: {
    breadcrumbs: Array
  },
  data: function() {
    return {
      grps: [
        { v: true, label: "Grp 1" },
        { v: false, label: "Grp 2" },
        { v: false, label: "Grp 3" },
        { v: false, label: "Grp 4" },
        { v: true, label: "Grp 5" },
        { v: false, label: "Grp 6" },
        { v: true, label: "Grp 7" },
        { v: false, label: "Grp 8" }
      ]
    };
  },
  methods: {
    sendForm: function() {
      console.log("sendForm");
    }
  }
};
</script>
