<template lang="pug">
  v-form(ref="form" @submit.prevent="saveFrm")
    card-toolbar(
      title="Привязать шлюз"
      v-on:close="closeFrm"
      buttons
    )
      select-field(
        :items="gws"
        v-model="gateway"
        label="Выбрать шлюз"
      )
      template(#actions)
        v-btn(color="primary" text type="submit" :disabled="isDisabled")
          v-icon save
          | Сохранить
</template>

<script>
import selectField from "../../plugins/fields/selectField";
import cardToolbar from "../../plugins/cardToolbar";

export default {
  name: "attach-gw",
  components: {
    selectField,
    cardToolbar
  },
  mounted() {
    this.fetchGws();
  },
  props: {
    group: {
      type: Number,
      required: true
    }
  },
  methods: {
    closeFrm() {
      this.$emit("done");
    },
    fetchGws() {
      this.$http.get("/gateways/").then(r => {
        this.gws = [];
        for (const v of r.data) {
          this.gws.push({
            value: v.pk,
            text: `${v.title} ${v.ip_address}`
          });
        }
      });
    },
    saveFrm() {
      if (this.group && this.gateway !== null) {
        this.$http
          .post("/customers/attach_nas/", {
            gateway: this.gateway,
            group: this.group
          })
          .then(() => {
            this.$emit("done");
          });
      }
    }
  },
  computed: {
    isDisabled() {
      return this.gateway === null;
    }
  },
  data() {
    return {
      gateway: null,
      gws: []
    };
  }
};
</script>
