<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      v-flex(xs12 sm8 md9)
        v-data-table.elevation-1(
          v-model='selected'
          :items='customers'
          :headers='tableHdr'
          item-key='username'
          show-select
          :items-per-page="ipp"
        )
          template(v-slot:item.username="cstmr")
            router-link(:to="rolink(cstmr)") {{ cstmr.item.username }}
          template(v-slot:item.telephone="cstmr")
            a(:href="`tel:${cstmr.item.telephone}`") {{ cstmr.item.telephone }}
          template(v-slot:item.action="cstmr")
            v-icon.mr-2(small @click='deleteItem(cstmr.item)') delete
          template(v-slot:footer)
            div.text-right
              v-btn.mb-2(color='error' @click='deleteSelected' small :disabled="isDelBtnDisabled")
                v-icon remove_circle
                | Удалить абонентов
          template(v-slot:no-data)
            v-alert(value color="error" icon="warning") Абоненты не найдены :(
      v-flex(xs12 sm4 md3)
        streets

      v-flex(xs12)
        v-btn(
          color="pink"
          dark
          absolute
          bottom
          right
          fab
          @click="newItem"
        )
          v-icon add
    v-dialog(v-model='dialog' persistent max-width='80%')
      customer-form(
        v-on:success='onFrmClose'
        :groupId='groupId'
        flat
      )
</template>

<script>
import templateBase from "../../plugins/templateBase";
import baseComponent from "../../plugins/baseComponent";
import customerForm from "./customerForm";
import streets from "./streets";

export default {
  name: "CustomersList",
  components: {
    templateBase,
    customerForm,
    streets
  },
  mixins: [baseComponent],
  props: {
    groupId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      customers: [],
      dialog: false,
      selected: [],
      pagination: {
        sortBy: "username"
      },
      tableHdr: [
        { text: "Логин", sortable: true, value: "username" },
        { text: "ФИО", sortable: true, value: "fio" },
        { text: "Номер телефона", sortable: true, value: "telephone" },
        { text: "Группа", sortable: true, value: "group_title" },
        { text: "Улица", sortable: true, value: "street_name" },
        { text: "Дом", sortable: true, value: "house" },
        { text: "Шлюз", value: "gateway_title" },
        { text: "Действия", value: "action", sortable: false }
      ],
      ipp: 5,
      editedItem: {}
    };
  },
  computed: {
    isDelBtnDisabled() {
      return this.selected.length === 0;
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.$http
        .get("/customers/", { params: { group: this.groupId } })
        .then(r => {
          this.customers = [];
          for (let k in r.data) {
            let v = r.data[k];
            this.customers.push(v);
          }
        });
    },
    onFrmClose() {
      this.dialog = false;
      this.fetchData();
    },
    deleteItem(v) {
      // console.log("deleteItem", v);
      // const index = this.table.indexOf(v);
      if (confirm(`Вы действительно хотите удалить абонента "${v.fio}"?`)) {
        this.$http.delete(`/customers/${v.pk}/`).then(() => {
          // console.log("Del result", r);
          this.showMessage("Абонент удалён");
          this.fetchData();
        });
      }
    },
    newItem() {
      // this.newFlag = true;
      // this.editedItem = Object.assign({}, this.initialItem);
      this.dialog = true;
    },
    async deleteSelected() {
      if (this.isDelBtnDisabled) return;
      if (
        confirm(
          `Вы действительно хотите удалить ${this.selected.length} абонентов?`
        )
      ) {
        for (const v of this.selected) {
          await this.$http.delete(`/customers/${v.pk}/`);
        }
        this.fetchData();
      }
    },
    rolink(cstmr) {
      return {
        name: "customerInfo",
        params: { groupId: cstmr.item.group, uid: cstmr.item.pk }
      };
    }
  }
};
</script>
