<template lang="pug">
  v-autocomplete(
    v-bind:value="value"
    v-on:input="$emit('input', $event)"
    :items="accs"
    @input.native="findEl"
    label="Абонент"
    prepend-icon="search"
    :loading='isload'
    hint="Начните вводить логин или имя абонента и выберите из выпадающего списка"
    persistent-hint
  )
</template>

<script>
export default {
  name: "customer-find-field",
  props: ["value"],
  mounted() {
    this.findEl("");
  },
  methods: {
    findEl(e) {
      if (!this.isload) {
        this.isload = true;
        this.$http
          .get("/customers/", { params: { search: e.data } })
          .then(r => {
            this.accs = [];
            for (const v of r.data) {
              this.accs.push({
                value: v.pk,
                text: `${v.username}. ${v.fio} (${v.telephone}) ${v.group_title}. ${v.street_name} ${v.house}`
              });
            }
            this.isload = false;
          });
      }
    }
  },
  data() {
    return {
      accs: [],
      isload: false
    };
  }
};
</script>
