<template lang="pug">
  v-form(ref="form" @submit.prevent="saveForm")
    card-toolbar(
      title="Создать абонента"
      v-on:close="closeFrm"
      buttons
    )
      v-container(grid-list-md)
        v-layout(wrap)
          v-flex(xs12 sm6 md4)
            uname-field(
              v-model="frm.username"
              autofocus
              label="Логин"
              :maxLen="127"
            )
          v-flex(xs12 sm6 md4)
            char-field(
              v-model="frm.fio"
              label="ФИО"
              :maxLen="256"
            )
          v-flex(xs12 sm6 md4)
            phone-field(
              v-model="frm.telephone"
              :maxLen="16"
              label="Телефон"
              :required="false"
            )
          v-flex(xs12 sm6 md4)
            select-field(
              :items="selectGroups"
              v-model="frm.group"
              label="Группа абонента"
            )
          v-flex(xs12 sm6 md4)
            select-field(
              :items="streets"
              v-model="frm.street"
              label="Улица"
            )
          v-flex(xs12 sm6 md4)
            char-field(
              v-model="frm.house"
              label="Дом/Квартира"
              :maxLen="12"
              :required="false"
            )
          v-flex(xs12 sm6 md4)
            select-field(
              :items="gateways"
              v-model="frm.gateway"
              label="Сервер доступа в интернет"
            )
          v-flex(xs12 sm6 md4)
            v-switch(
              v-model="frm.is_active"
              label="Включён-ли абонент"
            )
          v-flex(xs12)
            v-textarea(
              v-model="frm.description"
              label="Комментарий"
            )
      template(v-slot:actions)
        v-btn(color="blue darken-1" text @click='closeFrm')
          v-icon cancel
          | Отменить
        v-btn(color="primary" text type="submit" :disabled="isCleanFrm")
          v-icon save
          | Сохранить
</template>

<script>
import baseComponent from "../../plugins/baseComponent";
import unameField from "../../plugins/fields/unameField";
import charField from "../../plugins/fields/charField";
import phoneField from "../../plugins/fields/phoneField";
import selectField from "../../plugins/fields/selectField";
import groupsRepeated from "../groups/groupsRepeated";
import cardToolbar from "../../plugins/cardToolbar";

export default {
  name: "customer-form",
  components: {
    unameField,
    charField,
    phoneField,
    selectField,
    cardToolbar
  },
  mixins: [baseComponent, groupsRepeated],
  props: {
    customer: {
      type: Object,
      default() {
        return {
          pk: 0,
          username: "",
          fio: "",
          birth_day: "",
          is_active: true,
          telephone: "",
          group: 0,
          description: "",
          street: 0,
          house: "",
          gateway: 0
        };
      }
    },
    groupId: {
      type: Number,
      default: 0
    },
    flat: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    this.fetchGws();
    this.frm.group = this.groupId;
    this.fetchStreets(this.groupId);
    this.fetchGrps();
  },
  watch: {
    groupId(grpId) {
      this.fetchStreets(grpId);
      this.frm.group = grpId;
    },
    customer(c) {
      this.frm = Object.assign({}, c);
    }
  },
  data() {
    return {
      frm: Object.assign({}, this.customer),
      streets: [],
      gateways: []
    };
  },
  computed: {
    selectGroups() {
      let grps = [];
      const gs = this.groups;
      for (const k in gs) {
        const v = gs[k];
        grps.push({
          value: v.pk,
          text: v.title
        });
      }
      // console.log("selectGroups", grps);
      return grps;
    },
    isCleanFrm() {
      for (const [k, v] of Object.entries(this.customer)) {
        if (this.frm[k] === v) continue;
        else return false;
      }
      return true;
    }
  },
  methods: {
    fetchStreets(grpId) {
      // console.log("fetchStreets", grpId);
      this.$http
        .get("/customers/streets/", { params: { group: grpId } })
        .then(r => {
          this.streets = [];
          for (const k in r.data) {
            const v = r.data[k];
            this.streets.push({
              value: v.id,
              text: v.name
            });
          }
          // console.log("fetchStreets streets", this.streets);
        });
    },
    fetchGws() {
      // console.log("fetchGws");
      this.$http.get("/gateways/").then(r => {
        this.gateways = [];
        for (const k in r.data) {
          const v = r.data[k];
          this.gateways.push({
            value: v.pk,
            text: v.title
          });
        }
        // console.log("fetchGws gateways", this.gateways);
      });
    },
    closeFrm() {
      this.frm = Object.assign({}, this.customer);
      this.$emit("success");
    },
    saveForm() {
      if (this.$refs.form.validate()) {
        if (this.customer.pk === 0)
          this.$http.post("/customers/", this.frm).then(() => {
            // console.log("Saved user", r);
            this.showMessage("Аюонент добавлен");
            this.closeFrm();
          });
        else
          this.$http
            .put(`/customers/${this.customer.pk}/`, this.frm)
            .then(() => {
              this.showMessage("Абонент сохранён");
              this.closeFrm();
            });
      } else {
        this.showMessage("Ошибки в форме");
      }
    }
  }
};
</script>
