<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12 pa-1)
        v-tabs
          v-tab(:to="{name: 'customerInfo'}") Info
          v-tab(:to="{name: 'customerServices'}") Services
          v-tab(:to="{name: 'customerFinance'}") Finans
          v-tab(:to="{name: 'customerTaskHistory'}") History
      v-flex(xs12)
        router-view
</template>

<script>
import baseComponent from "../../plugins/baseComponent";
import templateBase from "../../plugins/templateBase";

export default {
  name: "customer-details",
  mixins: [baseComponent],
  components: {
    templateBase
  }
};
</script>
