<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      template(v-if="groups.length > 0")
        v-flex(xs12 sm4 md3 ma-1 v-for="(g, i) in groups" :key="i")
          v-card
            v-toolbar(dark color="deep-purple accent-4")
              v-toolbar-title {{ g.title }} 

              v-spacer

              v-tooltip(bottom)
                template(v-slot:activator="{ on }")
                  v-btn(icon :to="{name: 'grpServices', params:{groupId: g.pk}}" v-on="on")
                    v-icon(small color="info") settings
                span Принадлежность услуг к группам

              v-tooltip(bottom)
                template(v-slot:activator="{ on }")
                  v-btn(icon @click="attachGw(g)" v-on="on")
                    v-icon(small color="info") cloud
                span Привязать шлюз

            v-card-text
              span Количество абонентов: {{ g.usercount }}
              v-btn(:to="{name: 'customersList', params:{groupId: g.pk}}" text)
                v-icon(color="primary") visibility 
                | Открыть

      v-flex(v-else xs12)
        h2(v-if="isEmpty") Groups does not exist
        v-progress-circular(
          v-else
          :size="70"
          indeterminate
        )
    v-dialog(v-model='dialog' max-width='60%' persistent)
      attach-gw(:group="selectedGrp" v-on:done="doneFrm")
</template>


<script>
import templateBase from "../../plugins/templateBase";
import attachGw from "./attachGW";

export default {
  name: "dev-group-list",
  components: {
    templateBase,
    attachGw
  },
  mounted() {
    this.isEmpty = false;
    this.$http.get("/customers/groups/").then(r => {
      const dt = r.data;
      this.groups = dt;
      if (dt.length <= 0) {
        this.isEmpty = true;
      }
    });
  },
  data() {
    return {
      groups: [],
      isEmpty: true,
      selectedGrp: undefined,
      dialog: false
    };
  },
  methods: {
    attachGw(grp) {
      this.selectedGrp = grp.pk;
      this.dialog = true;
    },
    doneFrm() {
      this.dialog = false;
    }
  }
};
</script>
