<template lang="pug">
  template-base
    v-form(ref="form" @submit.prevent="sendFrm")
      card-toolbar(
        title="Принадлежность услуг к группам"
        buttons
      )
        v-checkbox(
          :label="srv.service_name"
          v-model="srv.check"
          v-for="srv in services"
          :key="srv.service"
        )
        template(#actions)
          v-btn(color="blue darken-1" text type="submit" :disabled="dis") Сохранить
</template>

<script>
import baseComponent from "../../plugins/baseComponent";
import templateBase from "../../plugins/templateBase";
import cardToolbar from "../../plugins/cardToolbar";

const url = "/customers/attach_group_service/";

export default {
  name: "grp-services",
  props: {
    groupId: {
      type: Number,
      default: 0
    }
  },
  mixins: [baseComponent],
  components: { templateBase, cardToolbar },
  methods: {
    fetch() {
      this.$http
        .get(url, {
          params: { group: this.groupId }
        })
        .then(r => {
          this.services = r.data;
        });
    },
    sendFrm() {
      this.$http
        .post(url, this.services, { params: { group: this.groupId } })
        .then(() => {
          this.showMessage("Сохранено ✌");
          this.dis = true;
        });
    }
  },

  watch: {
    services: {
      handler() {
        this.dis = false;
      },
      deep: true
    }
  },
  mounted() {
    this.fetch();
  },
  data() {
    return {
      services: [],
      dis: false
    };
  }
};
</script>
