<template lang="pug">
  div
    v-data-table.elevation-1(
      v-model='selected'
      :items='table'
      :headers='tableHdr'
      :items-per-page="rpp"
    )
      template(v-slot:item.cost="clog")
        | {{ clog.item.cost }} р

      template(v-slot:footer)
        v-btn(@click='addCash' small text)
          v-icon attach_money
          | Пополнить счёт
    v-dialog(v-model='dialog' persistent max-width='30%')
      add-cash(v-on:done="addCashDone")
</template>

<script>
import customersShared from "./customersShared";
import addCash from "./finance/addCash";

export default {
  name: "customer-finance",
  mixins: [customersShared],
  components: {
    addCash
  },
  mounted() {
    this.fetchData();
  },
  data() {
    return {
      selected: [],
      table: [],
      tableHdr: [
        { text: "Сумма", sortable: true, value: "cost" },
        { text: "Дата оплаты", sortable: true, value: "date" },
        { text: "Назначил", sortable: true, value: "author_name" },
        { text: "Комментарий", sortable: true, value: "comment" }
      ],
      rpp: 20,
      dialog: false
    };
  },
  methods: {
    fetchData() {
      this.$http.get("/customers/customer-log/").then(r => {
        this.table = r.data;
      });
    },
    addCashDone() {
      this.dialog = false;
    },
    addCash() {
      this.dialog = true;
    }
  }
};
</script>
