<template lang="pug">
  h1 Task History component
</template>

<script>
import customersShared from "./customersShared";

export default {
  name: "task-history",
  mixins: [customersShared]
  /*mounted() {
    console.log("History component mount");
  }*/
};
</script>
