<template lang="pug">
  v-layout(wrap)
    v-flex(sm12 lg6 pa-1)
      customer-form(:customer="customer" :groupId="groupId" v-on:success="fetchUser")
    v-flex(sm12 lg6 pa-1)
      v-card
        v-container
          customer-dev(:customer="customer" :uid='uid' v-on:update="fetchUser")
</template>

<script>
import charField from "../../../plugins/fields/charField";
import customerForm from "../customerForm";
import customerDev from "./customerDev/customerDev";
import customersShared from "./customersShared";

export default {
  name: "customer-info",
  mixins: [customersShared],
  components: {
    charField,
    customerForm,
    customerDev
  }
};
</script>
