<template lang="pug">
  v-layout(wrap)
    v-flex(sm12 lg6 pa-1)
      v-card
        v-container
          avail-services
    v-flex(sm12 lg6 pa-1)
      v-card
        v-container
          current-service
</template>

<script>
import availServices from "./services/availServices";
import currentService from "./services/currentService";
import customersShared from "./customersShared";

export default {
  name: "customer-services",
  mixins: [customersShared],
  components: {
    availServices,
    currentService
  }
  /*mounted() {
    console.log("Services component mount");
  }*/
};
</script>
