<template lang="pug">
  v-breadcrumbs(:items="brds")
    template(v-slot:item="pr")
      router-link.v-breadcrumbs__item(
        :to="pr.item.href"
        :class="[pr.item.disabled && 'v-breadcrumbs__item--disabled']"
      )
        v-icon(v-if="pr.item.ic") {{ pr.item.ic }}
        | {{ pr.item.text }}
</template>

<script>
export default {
  name: "vuetify-breadcrumbs",
  methods: {
    getBreadcrumb(bc) {
      return typeof bc === "function" ? bc.call(this, this.$route.params) : bc;
    },
    getPath(crumb) {
      let { path } = crumb;
      for (let [key, value] of Object.entries(this.$route.params)) {
        path = path.replace(`:${key}`, value);
      }
      return path;
    }
  },
  computed: {
    brds() {
      let els = [];
      for (const cr of this.$breadcrumbs) {
        if (cr.meta.breadcrumb) {
          els.push({
            text: this.getBreadcrumb(cr.meta.breadcrumb),
            disabled: false,
            href: this.getPath(cr)
          });
        }
      }
      if (els.length > 0) {
        let last = els[els.length - 1];
        last.disabled = true;
        els[0].ic = "home";
      }
      return els;
    }
  }
};
</script>
