<template lang="pug">
  v-layout(wrap)
    v-flex(xs12)
      v-card
        v-toolbar(color="grey lighten-4" text height="45px")
          v-toolbar-title
            span.body-1 {{ device.dev_type_str }}. Время работы {{ deviceUptime }} 
            span.caption {{ device.mac_addr }}
        v-content
          v-layout(wrap v-if="ports.length > 0")
            v-flex(xs1 v-for="(p, i) in ports" :key="i")
              zte-fiber(:port="p" :device="device" v-on:dataupdate="fetchPorts")
        v-toolbar(card height="40px" v-if="device.parent_dev")
          v-toolbar-title
            small.caption Родительское устройство:
              router-link(:to="{name: 'deviceView', params: {groupId: device.parent_dev_group, devId: device.parent_dev}}") {{ device.parent_dev_name }}
    v-flex(xs12 v-if="unregistered.length > 0")
      v-card
        v-toolbar(color="grey lighten-4" text)
          v-toolbar-title Незарегистрированные юниты
        v-list(three-line)
          template(v-for="(unr, i) in unregistered")
            v-divider(v-if="i != 0")
            v-list-tile(avatar)
              v-list-tile-avatar {{ i }}
              v-list-tile-content
                v-list-tile-title {{ unr.sn }}
                v-list-tile-sub-title {{ unr.mac }}. 
                  small прошивка: {{ unr.firmware_ver }}. 
                  small loid пароль: {{ unr.loid_passw }}
              v-list-tile-action
                v-btn(icon)
                  v-icon(color="primary") add
</template>

<script>
import zteFiberPort from "./zteFiberPort";

export default {
  name: "olt-zte",
  components: {
    "zte-fiber": zteFiberPort
  },
  props: {
    device: {
      type: Object,
      required: true
    }
  },
  mounted() {
    this.fetchDetails();
    this.fetchPorts();
    this.getUnregistered();
  },
  data() {
    return {
      ports: [],
      devDetails: null,
      unregistered: []
    };
  },
  computed: {
    deviceUptime() {
      if (this.devDetails) return this.devDetails.uptime;
      else return 0;
    }
  },
  methods: {
    fetchPorts() {
      this.$http.get(`/devices/${this.device.pk}/scan_fibers/`).then(r => {
        this.ports = r.data;
        // console.log("OltZte ports", r.data);
      });
    },
    fetchDetails() {
      this.$http.get(`/devices/${this.device.pk}/scan_details/`).then(r => {
        this.devDetails = r.data;
        // console.log("OltZte devDetails", r.data);
      });
    },
    getUnregistered() {
      this.$http
        .get(`/devices/${this.device.pk}/scan_units_unregistered/`)
        .then(r => {
          this.unregistered = r.data;
          // console.log("OltZte unregistered", r.data);
        });
    }
  }
};
</script>
