<template lang="pug">
  v-layout(wrap)
    v-flex(xs12, sm6)
      v-subheader Информация ONU
      p
        v-icon compare_arrows
        b IP адрес: 
        span {{ device.ip_address }}
      p
        v-icon storage
        b Мак: 
        span {{device.mac_addr}}
      p
        v-icon description
        b Описание: 
        span {{device.comment}}
      p
        v-icon face
        b Прикреплённый абонент: 
        | {{ device.attached_users }}
      p
        v-icon radio
        b Родительское устройство: 
        | {{ device.parent_dev_name }}
    v-flex(xs12, sm6)
      v-subheader Состояние ONU
      v-layout
        v-flex(xs2)
          v-avatar(size="109")
            v-icon(color="green accent-3", size="6em", v-if="details.status === 1") wb_sunny
            v-icon(color="deep-orange accent-3", size="6em", v-else-if="details.status === 2") highlight_off
            v-icon(color="red accent-3", size="6em", v-else-if="details.status === 3") cancel
            v-icon(color="grey accent-3", size="6em", v-else) help_outline
        v-flex(xs10)
          p
            b Имя на OLT: 
            span {{ details.int_name }}
          p
            b Расстояние (м): 
            span {{ details.distance }}
          p
            b Серийник: 
            span {{ details.serial }}
          p
            b Ур. сигнала: 
            span {{ details.signal }}
          p
            b MAC адрес на OLT: 
            span {{ details.mac }}
          p
            b Тип onu: 
            span {{ details.onu_type }}
          p(v-if="details.vlans")
            b Vlan
            span {{ details.vlans }}
</template>


<script>
export default {
  name: "onu-zte",
  props: {
    device: {
      type: Object,
      required: true
    }
  },
  /*mounted() {
    console.log("ZTE Device", this.device);
  },*/
  data() {
    return {
      details: {
        status: 1,
        signal: -20.09,
        distance: 746.0,
        ip_addr: null,
        vlans: "",
        serial: "ZTEGC115C5A7",
        int_name: "ONU-11:15",
        onu_type: "ZTE-F660",
        mac: "45:47:c1:15:c5:a7"
      }
    };
  },
  methods: {
    fetchDetails() {
      this.$http.get(`/devices/${this.device.pk}/scan_details/`).then(r => {
        this.details = r.data;
      });
    }
  }
};
</script>
