.port {
  display: inline-block;
  margin: 10px;
  border: 1px solid #7b7b7b;
  border-radius: 3px;
  padding: 6px;
  width: 79px;
  font-size: x-small;
}
.port-img {
  background-image: url(/img/icon-port-64x64-grey.png);
  width: 64px;
  height: 52px;
  margin-top: -13px;
  text-align: center;
  display: block;
  text-decoration: none;
}
.port-img > b {
  color: #ebe8d8;
  position: relative;
  top: 27px;
}
.port-btn {
  margin-top: 4px;
  left: -1px;
}