<template lang="pug">
  div.port.lighten-3.text-md-center(:class="portColor")
    b {{ friendlySpeed }}
    b.port-img
      b {{ port.number }}
    v-progress-circular(v-if="loading" indeterminate color="blue")
    v-btn.port-btn(small :color="btnColor" icon @click.stop="switchState" v-else)
      v-icon power_settings_new
</template>

<script>
import { setTimeout } from "timers";

export default {
  name: "switch-port",
  props: {
    port: {
      type: Object,
      default: () => {
        return {
          status: false,
          speed: 0,
          snmp_number: 0
        };
      }
    },
    device: {
      type: Object,
      default: () => {
        return {
          pk: 0
        };
      }
    }
  },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    portColor() {
      const p = this.port;
      if (p.status) {
        if (p.speed >= 10 ** 9) {
          return "deep-purple lighten-4"; // Gbps
        } else if (p.speed >= 10 ** 6) {
          return "teal lighten-4"; // Mbps
        } else if (p.speed >= 10 ** 3) {
          return "orange lighten-4"; // Kbps
        } else if (p.speed >= 10 ** 10) {
          return "#a4fff7"; // 10 Gbps
        } else {
          return "";
        }
      }
      return "red"; // Disabled
    },
    friendlySpeed() {
      const speed = this.port.speed;
      if (speed >= 10 ** 9) {
        return `${speed / 10 ** 9} Gbps`;
      } else if (speed >= 10 ** 6) {
        return `${speed / 10 ** 6} Mbps`;
      } else if (speed >= 10 ** 3) {
        return `${speed / 10 ** 3} Kbps`;
      }
      return speed;
    },
    btnColor() {
      // console.log("btnColor", this.port);
      return this.port.status ? "red" : "green";
    }
  },
  methods: {
    switchState() {
      let p = this.port;
      this.loading = true;
      this.$http
        .get(`/devices/${this.device.pk}/toggle_port/`, {
          params: {
            port_id: p.snmp_number,
            state: p.status ? "down" : "up"
          }
        })
        .then(() => {
          this.loading = false;
          setTimeout(() => {
            this.$emit("dataupdate");
          }, 1000);
        });
    }
  }
};
</script>

<style src="./port.css"></style>