<template lang="pug">
  v-form(ref="form" @submit.prevent="saveForm")
    number-field(
      v-model="form.num"
      label="Номер"
      :max="maxPortNum"
      positive
    )
    char-field(
      v-model="form.descr"
      label="Название"
      :maxLen="60"
    )
    v-btn(color="primary" type="submit")
      v-icon save
      | Сохранить
</template>

<script>
import baseComponent from "../../../plugins/baseComponent";
import charField from "../../../plugins/fields/charField";
import numberField from "../../../plugins/fields/numberField";

export default {
  name: "port-form",
  props: {
    port: {
      type: Object,
      default: null
    },
    devId: {
      type: Number,
      default: 0
    },
    maxPortNum: Number
  },
  mixins: [baseComponent],
  components: {
    charField,
    numberField
  },
  methods: {
    saveForm() {
      if (!this.$refs.form.validate()) {
        this.showMessage("Сначала исправте ошибки в форме");
        return;
      }
      if (this.port) {
        this.$http
          .put(`/devices/ports/${this.port.pk}/`, this.form)
          .then(() => {
            this.showMessage("Порт изменён");
            this.$emit("success");
          });
      } else {
        this.$http.post("/devices/ports/", this.form).then(r => {
          if (r.status === 201) {
            this.showMessage("Порт Добавлен");
            this.$emit("success");
          }
        });
      }
    }
  },
  data() {
    if (this.port) {
      return {
        form: this.port
      };
    } else {
      return {
        form: {
          num: 0,
          device: this.devId,
          descr: ""
        }
      };
    }
  }
};
</script>
