<template lang="pug">
  v-layout(wrap)
    v-flex(xs12 lg6)
      v-card
        v-toolbar(color="grey lighten-4" text height="45px")
          v-toolbar-title
            span.body-1 {{ device.dev_type_str}}. Время работы {{ devDetails.uptime }} 
            span.caption {{ device.mac_addr }}
        v-content
          v-layout(wrap)
            v-flex(xs6 sm4 md3 xl2 v-for="(p, i) in ports" :key="i")
              switch-port(:port="p" :device="device" v-on:dataupdate="fetchPorts")
        v-toolbar(card height="40px" v-if="device.parent_dev")
          v-toolbar-title
            small.caption Родительское устройство:
              router-link(:to="{name: 'deviceView', params: {groupId: device.parent_dev_group, devId: device.parent_dev}}") {{ device.parent_dev_name }}
    v-flex(xs12, lg6)
      v-card
        v-toolbar(color="grey lighten-4" text)
          v-toolbar-title Управление портами
        v-list(three-line)
          switch-db-port(:port="p" :key="i" v-on:dataupdate="fetchDbPorts" :maxPortNum="maxPortNumber" v-for="(p, i) in dbports")
          v-divider
          v-list-tile
            v-btn(@click="dialog = true")
              v-icon add_circle
              | добавить порты
    v-dialog(v-model="dialog" persistent max-width='80%')
      v-card
        v-toolbar(color="grey lighten-3" flat)
          v-toolbar-title Добавить порт
          v-spacer
          v-btn(icon @click="closeDialog")
            v-icon(small color="red") clear
        v-card-text
          port-form(v-on:success="closeDialog" :devId="device.pk" :maxPortNum="maxPortNumber")

</template>


<script>
import switchPort from "./switchPort";
import switchDbPort from "./switchDbPort";
import switchDbPortForm from "./switchDbPortForm";

export default {
  name: "device-switch",
  components: {
    switchPort,
    switchDbPort,
    "port-form": switchDbPortForm
  },
  props: {
    device: {
      type: Object,
      required: true
    }
  },
  mounted() {
    this.fetchDev();
    this.fetchPorts();
    this.fetchDbPorts();
  },
  data() {
    return {
      ports: [],
      dbports: [],
      devDetails: {},
      dialog: false,
      maxPortNum: 28
    };
  },
  computed: {
    maxPortNumber() {
      return this.maxPortNum;
    }
  },
  methods: {
    fetchPorts() {
      this.$http.get(`/devices/${this.device.pk}/scan_ports/`).then(r => {
        this.ports = r.data;
        // console.log("Ports", r.data, r.data.length);
        this.maxPortNum = r.data.length;
      });
    },
    fetchDbPorts() {
      this.$http
        .get("/devices/ports/extended/", {
          params: {
            device: this.device.pk
          }
        })
        .then(r => {
          // console.log("DBPorts", r.data);
          this.dbports = r.data;
        });
    },
    fetchDev() {
      this.$http.get(`/devices/${this.device.pk}/scan_details/`).then(r => {
        // console.log("Details", r.data);
        this.devDetails = r.data;
      });
    },
    closeDialog() {
      this.dialog = false;
    }
  }
};
</script>
