<template lang="pug">
  v-list-tile
    v-list-tile-avatar {{ port.additional.number }}
    v-list-tile-content
      v-list-tile-title
        b {{ port.descr }} - 
        | {{ port.additional.name }}
      v-list-tile-sub-title абонентов: {{ port.user_count }}.
        div Мак адрес: {{ port.additional.mac_addr }}
        div Время в сети: {{ port.additional.uptime }}
    v-list-tile-action
      v-btn(icon @click.stop="deleteDbPort")
        v-icon(small color="red") clear
      v-btn(icon)
        v-icon(small color="primary" @click="dialog = true") edit
    v-dialog(v-model='dialog' persistent max-width='60%')
      v-card
        v-toolbar(color="grey lighten-3" flat)
          v-toolbar-title Поправить порт
          v-spacer
          v-btn(icon @click.stop="closeDlg")
            v-icon(small color="red") clear
        v-card-text
          port-form(:port='port' v-on:success="closeDlg" :maxPortNum="maxPortNum")
</template>

<script>
import baseComponent from "../../../plugins/baseComponent";
import baseFormComponent from "../../../plugins/baseFormComponent";
import switchDbPortForm from "./switchDbPortForm";

export default {
  name: "switch-db-port",
  components: {
    "port-form": switchDbPortForm
  },
  mixins: [baseComponent, baseFormComponent],
  props: {
    port: {
      type: Object,
      required: true
    },
    maxPortNum: Number
  },
  methods: {
    closeDlg() {
      this.dialog = false;
      this.$emit("dataupdate");
    },
    deleteDbPort() {
      if (confirm(`Удалить порт "${this.port.descr}"?`)) {
        this.$http.delete(`/devices/ports/${this.port.pk}/`).then(() => {
          this.showMessage("Порт удалён");
          this.$emit("dataupdate");
        });
      }
    }
  },
  data() {
    return {
      dialog: false
    };
  }
};
</script>
