<template lang="pug">
  div.port.lighten-3.text-md-center(:class="portColor")
    b {{ port.fb_name }}
    b.port-img
      b {{ port.fb_onu_num }}
</template>

<script>
export default {
  name: "zte-fiber",
  props: {
    port: Object,
    device: Object
  },
  computed: {
    portColor() {
      // console.log("zte fiberport color", this.port);
      return this.port.fb_onu_num > 0 ? "green lighten-4" : "";
    }
  }
};
</script>

<style src="./port.css"></style>