<template lang="pug">
  v-form(ref="form" @submit.prevent="saveForm")
    card-toolbar(:title="formTitle" v-on:close="close" buttons)
      v-container(grid-list-md)
        v-layout(wrap)
          v-flex(xs12 sm6 md4)
            char-field(
              v-model="editedGateway.title"
              label="Title"
              :maxLen="127"
            )
          v-flex(xs12 sm6 md4)
            ip-field(
              v-model="editedGateway.ip_address"
            )
          v-flex(xs12 sm6 md4)
            number-field(
              v-model.number="editedGateway.ip_port"
              :required="false"
              label="Порт"
              positive
            )
          v-flex(xs12 sm6 md4)
            uname-field(
              v-model="editedGateway.auth_login"
              label="Auth login"
              :maxLen="64"
            )
          v-flex(xs12 sm6 md4)
            passw-field(
              v-model="editedGateway.auth_passw"
              :maxLen="127"
            )
          v-flex(xs12 sm6 md4)
            select-field(
              :items="gatewayTypes"
              v-model="editedGateway.gw_type"
              label="Gateway type"
            )
          v-flex(xs12 sm6 md4)
            v-switch(
              v-model="editedGateway.is_default"
              label="Is default"
              :error-messages="errors.is_default"
            )
          v-flex(xs12 sm6 md4)
            v-switch(
              v-model="editedGateway.enabled"
              label="Is enabled"
              :error-messages="errors.enabled"
            )
</template>

<script>
import ipField from "../../plugins/fields/ipField";
import charField from "../../plugins/fields/charField";
import numberField from "../../plugins/fields/numberField";
import unameField from "../../plugins/fields/unameField";
import passwField from "../../plugins/fields/passwField";
import selectField from "../../plugins/fields/selectField";

import baseComponent from "../../plugins/baseComponent";
import baseFormComponent from "../../plugins/baseFormComponent";
import cardToolbar from "../../plugins/cardToolbar";

const CURR_URL = "/gateways/";

export default {
  name: "gw-form",
  mixins: [baseComponent, baseFormComponent],
  components: {
    ipField,
    charField,
    numberField,
    unameField,
    passwField,
    selectField,
    cardToolbar
  },
  props: {
    gwId: {
      type: Number,
      default: undefined
    }
  },
  mounted() {
    this.fetchGw();
  },
  methods: {
    saveForm() {
      if (this.$refs.form.validate()) {
        let request;
        let msg = "";
        if (this.gwId) {
          request = this.$http.put(
            `${CURR_URL}${this.editedGateway.pk}/`,
            this.editedGateway
          );
          msg = "Gateway updated";
        } else {
          request = this.$http.post(CURR_URL, this.editedGateway);
          msg = "Gateway created";
        }
        request
          .then(() => {
            this.showMessage(msg);
            this.close();
            this.$emit("successfull");
          })
          .catch(this.processHttpErr);
      } else {
        this.showMessage("Form has errors");
      }
    },
    close() {
      this.$emit("dialog-close");
    },
    fetchGw() {
      if (this.gwId) {
        this.$http
          .get(`${CURR_URL}${this.gwId}/`)
          .then(r => {
            this.editedGateway = Object.assign({}, r.data);
          })
          .catch(this.processHttpErr);
      } else {
        this.editedGateway = Object.assign({}, this.initialGateway);
      }
    }
  },
  data() {
    return {
      initialGateway: {
        pk: 0,
        title: "",
        ip_address: "",
        ip_port: 0,
        auth_login: "",
        auth_passw: "",
        gw_type: 0,
        is_default: false,
        enabled: true
      },
      editedGateway: {},
      gatewayTypes: [{ value: 0, text: "Mikrotik" }],
      errors: {
        is_default: "",
        enabled: ""
      }
    };
  },
  watch: {
    gwId() {
      this.fetchGw();
    }
  },
  computed: {
    formTitle() {
      return !this.gwId ? "New gateway" : "Edit gateway";
    }
  }
};
</script>
