<template lang="pug">
  template-base
    v-layout(wrap)
      template(v-if="gateways.length > 0")
        v-flex(xs3 pa-1 v-for="(t, i) in gateways" :key="i")
          card-toolbar(
            :title="t.title"
            v-on:close="delGw(t)"
            buttons
          )
            p
              p ip addr: {{ t.ip_address }}
              p ip_port: {{ t.ip_port }}
              p gw_type: {{ t.gw_type }}
              p default: {{ t.default }}
              p enabled: {{ t.enabled }}
              p auth_login: {{ t.auth_login }}
              p auth_passw: {{ t.auth_passw }}
            template(#actions)
              v-btn(color="primary" @click="editGw(t)" text icon)
                v-icon(small) edit
      v-flex(v-else xs12)
        v-card(tile v-if="isEmpty")
          v-card-title(primary-title) Gateways not found
        v-progress-circular(
          v-else
          :size="70"
          indeterminate
        )
      v-flex(xs12)
        v-btn(color="pink" bottom absolute right fab dark @click="addGw")
          v-icon add_circle
    v-dialog(v-model='dialog' persistent max-width='80%')
      gw-form(
        v-on:dialog-close='dialog = false'
        v-on:successfull='fetchData'
        :gwId='gwId'
      )

</template>

<script>
import templateBase from "../../plugins/templateBase";
import baseComponent from "../../plugins/baseComponent";
import baseFormComponent from "../../plugins/baseFormComponent";
import cardToolbar from "../../plugins/cardToolbar";
import gwForm from "./gwForm";

export default {
  name: "gw-list",
  components: {
    templateBase,
    gwForm,
    cardToolbar
  },
  mixins: [baseComponent, baseFormComponent],
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.$http
        .get("/gateways/")
        .then(r => {
          this.gateways = [];
          const dt = r.data;
          if (dt.length > 0) {
            for (const k in dt) {
              this.gateways.push(dt[k]);
            }
            this.isEmpty = false;
          } else {
            this.isEmpty = true;
          }
        })
        .catch(this.processHttpErr);
    },
    editGw(item) {
      // this.editedGateway = Object.assign({}, item);
      this.gwId = item.pk;
      this.dialog = true;
    },
    addGw() {
      // this.editedGateway = Object.assign({}, this.initialGateway);
      this.gwId = undefined;
      this.dialog = true;
    },
    delGw(item) {
      const index = this.gateways.indexOf(item);
      if (confirm(`Вы действительно хотите удалить шлюз "${item.title}?"`)) {
        this.$http
          .delete(`/gateways/${item.pk}/`)
          .then(() => {
            this.gateways.splice(index, 1);
            this.showMessage("Шлюз успешно удалён");
          })
          .catch(this.processHttpErr);
      }
    }
  },
  data() {
    return {
      dialog: false,
      gateways: [],
      isEmpty: true,
      gwId: null
    };
  }
};
</script>
