<template lang="pug">
  v-card
    v-toolbar(color="grey lighten-3" flat)
      v-toolbar-title {{ title }} 
        small.caption(v-if="caption") {{ caption }}
      v-spacer
      v-btn(icon @click="$emit('close')" v-if="buttons")
        v-icon(small color="red") clear
    v-card-text
      slot
    v-card-actions(v-if="buttons")
      v-spacer
      slot(name="actions")
        v-btn(color="blue darken-1" text @click="$emit('close')") Cancel
        v-btn(color="blue darken-1" text type="submit") Save
</template>

<script>
export default {
  name: "card-toolbar",
  props: {
    title: String,
    buttons: {
      type: Boolean,
      default: false
    },
    caption: String
  }
};
</script>
