<template lang="pug">
  v-container
    slot
    slot(name='dialog')
      v-dialog(persistent v-model='DIALOG_STATE' max-width='30%')
        v-card
          v-card-title.error {{ DIALOG_TITLE }}
          v-card-text
            pre {{ DIALOG_TEXT }}
          v-card-actions
            v-spacer
            v-btn(color='green darken-1' text @click.stop='closeDialog') Close
    slot(name='snackbar')
      v-snackbar(v-model='snackState' :timeout='6000' top)
        pre {{ SNACK_TEXT }}
        v-btn(color='pink' text @click.stop='snackClose') Close

</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "template-base",
  /*props: {
    breadcrumbs: Array
  },*/
  computed: {
    ...mapGetters([
      "SNACK_TEXT",
      "DIALOG_TITLE",
      "DIALOG_TEXT",
      "DIALOG_STATE"
    ]),
    snackState: {
      get() {
        return this.$store.getters.SNACK_STATE;
      },
      set(v) {
        this.$store.commit("SNACK_SET", v);
      }
    }
  },
  mounted() {
    this.checkAuth();
  },
  methods: {
    checkAuth() {
      const token = localStorage.authToken;
      if (!token) {
        this.$router.push("/login/");
      }
    },
    closeDialog() {
      this.$store.commit("CLOSE_DIALOG");
    },
    snackClose() {
      this.$store.commit("SNACK_CLOSE");
    }
  }
};
</script>
