<template lang="pug">
  v-form(ref="form" @submit.prevent="saveForm")
    card-toolbar(
      :title="devForm.dev_type_str || 'Добавить устройство'"
      v-on:close="$emit('success')"
      buttons
    )
      ip-field(
        v-model="devForm.ip_address"
        autofocus
      )
      mac-field(
        v-model.trim='devForm.mac_addr'
        label='Мак адрес'
        :maxLen='17'
      )
      char-field(
        v-model.trim="devForm.comment"
        label="Название"
        :maxLen="256"
        required
      )
      select-field(
        :items="devTypes"
        v-model="devForm.dev_type"
        label="Тип устройства"
        required
      )
      char-field(
        v-model.trim="devForm.man_passw"
        label="Пароль для мониторинга"
        :maxLen="16"
      )
      select-field(
        :items="groups"
        v-model="devForm.group"
        label="Группа устройства"
      )
      v-autocomplete(
        :items="parentDevs"
        :search-input.sync="parentSearch"
        :loading="isParentDevLoading"
        v-model="devForm.parent_dev"
        label="Родительское устройство"
        prepend-icon="search"
        hide-no-data hide-selected
        :error-messages="errParentDev"
      )
      char-field(
        v-model="devForm.snmp_extra"
        label="Инфа для snmp"
        :maxLen='256'
      )
      v-switch(
        v-model="devForm.is_noticeable"
        label="Отправлять оповещения при событиях мониторинга"
      )
</template>


<script>
import baseComponent from "../../plugins/baseComponent";
import baseFormComponent from "../../plugins/baseFormComponent";
import charField from "../../plugins/fields/charField";
import ipField from "../../plugins/fields/ipField";
import macField from "../../plugins/fields/macField";
import selectField from "../../plugins/fields/selectField";
import cardToolbar from "../../plugins/cardToolbar";

export default {
  name: "device-form",
  components: {
    charField,
    ipField,
    macField,
    selectField,
    cardToolbar
  },
  mixins: [baseComponent, baseFormComponent],
  mounted() {
    this.fetchGrps();
    this.fetchForm();
  },
  methods: {
    saveForm() {
      if (this.$refs.form.validate()) {
        if (this.devId) {
          // console.log("DevForm put", this.devForm);
          this.$http
            .put(`/devices/${this.devId}/`, this.devForm)
            .then(() => {
              this.showMessage("Устройство успешно изменено");
              this.$emit("success");
            })
            .catch(this.processHttpErr);
        } else {
          // console.log("DevForm post", this.devForm);
          this.$http
            .post("/devices/", this.devForm)
            .then(r => {
              // console.log("DevForm post ret", r);
              if (r.status === 201) {
                this.showMessage("Устройство добавлено");
                this.$emit("success");
              }
            })
            .catch(this.processHttpErr);
        }
      } else {
        this.showMessage("Form has errors");
      }
    },
    fetchGrps() {
      // console.log("this.HTTP", this.$http);
      this.$http
        .get("/groups/")
        .then(r => {
          this.groups = [];
          for (let k in r.data) {
            let v = r.data[k];
            this.groups.push({
              value: v.pk,
              text: v.title
            });
          }
        })
        .catch(this.processHttpErr);
    },
    fetchForm() {
      // this.devForm = Object.assign({}, this.initForm);
      if (this.devId) {
        this.$http
          .get(`/devices/${this.devId}/`)
          .then(r => {
            this.devForm = Object.assign({}, r.data);
          })
          .catch(this.processHttpErr);
      }
    }
  },
  watch: {
    parentSearch(val) {
      // Items have already been requested
      if (this.isParentDevLoading) return;

      this.isParentDevLoading = true;

      this.$http
        .get("/devices/", { params: { search: val } })
        .then(r => {
          this.parentDevs = [];
          const dt = r.data;
          for (const k in dt) {
            const v = dt[k];
            this.parentDevs.push({
              value: v.pk,
              text: `${v.comment}, ${v.ip_address} (${v.mac_addr})`
            });
          }
          this.isParentDevLoading = false;
        })
        .catch(this.processHttpErr);
    },
    devId() {
      this.fetchForm();
    }
  },
  props: {
    devId: {
      type: Number,
      default: 0
    },
    groupId: {
      type: Number,
      required: true
    },
    initForm: {
      type: Object,
      default() {
        return {
          pk: 0,
          ip_address: null,
          mac_addr: null,
          comment: "",
          dev_type: 1,
          man_passw: "",
          group: this.groupId,
          parent_dev: null,
          snmp_extra: "",
          // extra_data: {},
          status: 0,
          is_noticeable: false
        };
      }
    }
  },
  data() {
    return {
      groups: [],
      parentDevs: [],
      isParentDevLoading: false,
      parentSearch: null,
      devForm: this.initForm,
      devTypes: [
        { value: 1, text: "Dlink" },
        { value: 2, text: "BDCOM OLT" },
        { value: 3, text: "EPON ONU" },
        { value: 4, text: "Eltex switch" },
        { value: 5, text: "OLT ZTE C320" },
        { value: 6, text: "GPON ONU ZTE-F660" },
        { value: 7, text: "GPON ONU ZTE-F601" },
        { value: 8, text: "Huawei Quidway S2200" }
      ],
      netwStates: [
        { value: 0, text: "Не определён" },
        { value: 1, text: "В сети" },
        { value: 2, text: "Не доступен" },
        { value: 3, text: "Не в сети" }
      ],
      errParentDev: ""
    };
  }
};
</script>
