<template lang="pug">
  template-base
    vuetify-breadcrumbs
    v-card(flat)
      v-toolbar(:color="stateColor" text)
        v-toolbar-title {{ dev.comment }}
          div.caption {{ dev.ip_address }}
        v-spacer
        v-btn(icon)
          v-icon(color="primary" @click.stop="fetchDev") refresh
        v-btn(icon)
          v-icon(color="blue darken-3" @click="modalForm") edit
        v-btn(icon)
          v-icon(color="red darken-3") clear
      v-card-text(v-if="is_loaded")
        onu-zte(:device="dev" v-if="dev.dev_type === 6 || dev.dev_type === 7")
        olt-zte(:device="dev" v-else-if="dev.dev_type === 5")
        device-switch(:device="dev" v-else)
    v-dialog(v-model='dialog' persistent max-width='80%')
      device-form(:devId="devId" :groupId="groupId" v-on:success="formFin")
</template>

<script>
import templateBase from "../../plugins/templateBase";
import deviceForm from "./devForm";
import onuZTE from "./devViewTemplate/onuZTE";
import oltZte from "./devViewTemplate/oltZte";
import deviceSwitch from "./devViewTemplate/switch";

export default {
  name: "onu-view",
  components: {
    templateBase,
    deviceForm,
    "onu-zte": onuZTE,
    "olt-zte": oltZte,
    "device-switch": deviceSwitch
  },
  props: {
    devId: {
      type: Number,
      required: true
    },
    groupId: {
      type: Number,
      required: true
    }
  },
  computed: {
    stateColor() {
      let color = "light-blue lighten-5";
      if (this.dev.status === 1) color = "green accent-3";
      else if (this.dev.status === 2) color = "deep-orange accent-3";
      else if (this.dev.status === 3) color = "red accent-3";
      return color;
    }
  },
  mounted() {
    this.fetchDev();
  },
  data() {
    return {
      dev: {
        comment: "",
        dev_type_str: "",
        status: 0
      },
      dialog: false,
      is_loaded: false
    };
  },
  methods: {
    formFin() {
      this.fetchDev();
      this.dialog = false;
    },
    modalForm() {
      this.dialog = true;
    },
    fetchDev() {
      this.is_loaded = false;
      this.$http.get(`/devices/${this.devId}/`).then(r => {
        // console.log("fetchDev", r.data);
        this.dev = r.data;
        this.is_loaded = true;
      });
    }
  }
};
</script>
