<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      template(v-if="groups.length > 0")
        v-flex(xs3 pa-1 v-for="(g, i) in groups" :key="i")
          v-card
            v-card-title(primary-title)
              div
                div.headline {{ g.title }}
                small Устройств: {{ g.device_count }}
            v-divider
              p {{ g.code }}
            v-card-actions.pa-3
              v-btn(icon :to="{name: 'devList', params:{groupId: g.pk}}")
                v-icon(small color="primary") visibility
      v-flex(v-else, xs12)
        h2(v-if="isEmpty") Groups does not exist
        v-progress-circular(
          v-else
          :size="70"
          indeterminate
        )
</template>


<script>
import templateBase from "../../plugins/templateBase";

export default {
  name: "dev-group-list",
  components: {
    templateBase
  },
  mounted() {
    this.isEmpty = false;
    this.$http.get("/devices/groups/").then(r => {
      const dt = r.data;
      this.groups = dt;
      if (dt.length <= 0) {
        this.isEmpty = true;
      }
    });
  },
  data() {
    return {
      groups: [],
      isEmpty: true
    };
  }
};
</script>
