<template lang="pug">
  template-base
    v-layout(wrap)
      v-flex(xs12)
        vuetify-breadcrumbs
      template(v-if="devs.length > 0")
        v-flex(xs12 sm6 md4 lg3 pa-1 v-for="(d, i) in devs" :key="i")
          v-card
            v-toolbar(color="grey lighten-3" flat)
              v-toolbar-title {{ d.dev_type_str }}
              v-spacer
              v-btn(icon @click="modalForm(d)")
                v-icon(small color="primary") edit
              v-btn(icon @click="delDev(d)")
                v-icon(small color="red") clear
            v-card-text
              v-container
                v-layout
                  v-flex(xs3)
                    v-avatar(size="109")
                      v-icon(color="green accent-3" size="6em" v-if="d.status === 1") wb_sunny
                      v-icon(color="deep-orange accent-3" size="6em" v-else-if="d.status === 2") highlight_off
                      v-icon(color="red accent-3" size="6em" v-else-if="d.status === 3") cancel
                      v-icon(color="grey accent-3" size="6em" v-else) help_outline
                  v-flex(xs9)
                    v-card-title(primary-title)
                      div
                        div.title {{ d.comment }}
                        div
                          v-icon compare_arrows
                          | {{ d.ip_address}}
                        div
                          v-icon storage
                          | {{ d.mac_addr }}
            v-divider
            v-card-actions.pa-3
              v-btn(icon :to="devLink(d)")
                v-icon(small) visibility
      template(v-else)
        v-flex(xs12)
          h1(v-if="isEmpty") Devices not found
          v-progress-circular(
            v-else
            :size="70"
            indeterminate
          )
      v-flex(xs12)
        v-btn(color="pink" bottom absolute right fab dark @click="modalForm")
          v-icon add_circle
    v-dialog(v-model='dialog' persistent max-width='80%')
      device-form(
        :devId="currentDevId"
        :groupId="groupId"
        lazy
        v-on:success='successSaved'
      )
</template>

<script>
import templateBase from "../../plugins/templateBase";
import baseComponent from "../../plugins/baseComponent";
import deviceForm from "./devForm";

export default {
  name: "dev-list",
  components: {
    templateBase,
    deviceForm
  },
  mixins: [baseComponent],
  props: {
    groupId: {
      type: Number,
      default: 0
    }
  },
  mounted() {
    this.fetchDevs();
    // console.log("List groupId", this.groupId);
  },
  methods: {
    delDev(dev) {
      const index = this.devs.indexOf(dev);
      if (
        confirm(`Вы действительно хотите удалить устройство "${dev.comment}?"`)
      ) {
        // console.log("delDev", dev);
        this.$http.delete(`/devices/${dev.pk}/`).then(() => {
          // console.log("Del device dat", r);
          this.devs.splice(index, 1);
          this.showMessage("Устройство успешно удалено");
        });
      }
    },
    fetchDevs() {
      this.isEmpty = false;
      this.$http
        .get("/devices/", { params: { group: this.groupId } })
        .then(r => {
          this.devs = r.data;
          // console.log("this.devs", this.devs);
          if (r.data.length > 0) {
            this.isEmpty = false;
          } else {
            this.isEmpty = true;
          }
        });
    },
    modalForm(dev = undefined) {
      this.currentDevId = dev ? dev.pk : 0;
      this.dialog = true;
    },
    successSaved() {
      // console.log("successSaved");
      this.fetchDevs();
      this.dialog = false;
    },
    devLink(dev) {
      // console.log("Ret groupId", this.groupId);
      return {
        name: "deviceView",
        params: {
          groupId: this.groupId,
          devId: dev.pk
        }
      };
    }
  },
  computed: {
    modalTitle() {
      return this.currentDevId ? "Edit device" : "New device";
    }
  },
  data() {
    return {
      devs: [],
      isEmpty: false,
      dialog: false,
      currentDevId: 0
    };
  }
};
</script>
