<template lang="pug">
  v-app
    v-navigation-drawer(v-model="drawer" app)
      v-list(dense)
        template(v-for="(l, i) in links")
          v-list-item(:to="l.d" :key="i")
            v-list-item-action
              v-icon {{ l.i }}
            v-list-item-content
              v-list-item-title {{ l.t }}
      v-btn(text @click.stop='logOut') Logout

    v-app-bar.elevation-0(app color="indigo" dark)
      v-app-bar-nav-icon(@click.stop="drawer = !drawer")
      v-toolbar-title App

    v-content
      router-view

    v-footer(color="indigo" app)
      span.white--text &copy; 2019 — 
        strong Nerosketch
</template>

<script>
export default {
  name: "Billing",
  methods: {
    logOut() {
      localStorage.removeItem("authToken");
      this.$router.push("/login/");
    }
  },
  data() {
    return {
      drawer: null,
      links: [
        { t: "Сотрудники", d: { name: "accounts" }, i: "person" },
        { t: "Абоненты", d: { name: "customersGroupList" }, i: "devices" },
        { t: "Задачи", d: { name: "tasksList" }, i: "assignment" },
        { t: "Группы", d: { name: "groups_link" }, i: "book" },
        { t: "Тарифы", d: { name: "serviceList" }, i: "shopping_cart" },
        { t: "Шлюзы", d: { name: "gatewayList" }, i: "network_wifi" },
        { t: "Устройства", d: { name: "devGroupList" }, i: "devices" }
      ]
    };
  }
};
</script>
