<template lang="pug">
  v-app
    v-content
      v-container(fluid fill-height)
        v-layout(align-center justify-center)
          v-flex(xs12 sm8 md4)
            v-card.elevation-12
              v-toolbar(color="primary" dark flat)
                v-toolbar-title Login Form
              v-card-text
                v-form(v-model="valid" ref="form")
                  char-field(
                    v-model="uname"
                    label="Логин"
                    ic="person"
                    required
                    focus
                  )
                  passw-field(
                    v-model="password"
                    :min="8"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    @click:append="() => (e1 = !e1)"
                    label="Пароль"
                    :type="e1 ? 'password' : 'text'"
                    ic="lock"
                  )
              v-card-actions
                v-spacer
                  v-btn(color="primary" @click="logIn" :class="{'blue darken-4 white--text': valid, disabled: !valid }") Войти

    v-snackbar(
      v-model="snack.state"
      :timeout="6000"
      top
    ) {{ snack.text }}
      v-btn(
        color="pink"
        text
        @click="snackbar.show = false"
      ) Close
</template>

<script>
import charField from "./plugins/fields/charField";
import passwField from "./plugins/fields/passwField";

export default {
  name: "login",
  components: {
    charField,
    passwField
  },
  data() {
    return {
      valid: false,
      e1: true,
      password: "",
      uname: "",
      snack: {
        state: false,
        text: ""
      }
    };
  },
  methods: {
    logIn() {
      localStorage.authToken = "";
      if (this.$refs.form.validate()) {
        this.$http
          .post("/profiles/token-auth/", {
            username: this.uname,
            password: this.password
          })
          .then(r => {
            //- console.log(r, r.data);
            const token = r.data["token"];
            if (token) {
              localStorage.authToken = token;
              this.$router.push("/accounts/");
            } else {
              this.showSnack("Token does not exist");
            }
          })
          .catch(e => {
            //- console.log(e, e.response, e.request);
            if (e.response && e.response.data) {
              let er = "";
              for (const k in e.response.data) {
                const v = e.response.data[k];
                er += v;
              }
              this.showSnack(er);
            } else {
              this.showSnack("Нет связи с сервером");
            }
          });
      }
    },
    showSnack(t) {
      this.snack.text = t;
      this.snack.state = true;
    }
  }
};
</script>
