<template lang="pug">
  template-base
    v-layout(wrap)
      template(v-if="groupsExists")
        v-flex(xs12 sm6 md4 lg2 pa-1 v-for="g in groups" :key="g.pk")
          v-card
            v-toolbar(height="40" color="grey lighten-4" flat)
              v-toolbar-title(v-if="g.code") :{{ g.code }}
              v-spacer
              v-btn(icon @click="editGrp(g)")
                v-icon(small color="info") edit
              v-btn(icon @click="delGrp(g.pk, g.title)")
                v-icon(small color="error") clear
            v-card-text
              span.headline {{ g.title }}
      v-flex(v-else xs12)
        h2 Группы не найдены
    v-layout
      v-flex(xs12)
        v-btn(
          color="pink",
          dark,
          absolute,
          bottom,
          right,
          @click="addGrp"
        )
          v-icon add
    v-dialog(v-model='dialog' max-width='60%')
      group-form(:group="currentGrp" v-on:done="frmDone")

</template>

<script>
import baseComponent from "../../plugins/baseComponent";
import templateBase from "../../plugins/templateBase";
import groupsRepeated from "./groupsRepeated";
import GroupForm from "./GroupForm";

export default {
  name: "GroupsList",
  components: {
    templateBase,
    GroupForm
  },
  mixins: [baseComponent, groupsRepeated],
  data: function() {
    return {
      currentGrp: undefined,
      dialog: false
    };
  },
  methods: {
    editGrp(grp) {
      this.currentGrp = Object.assign({}, grp);
      this.dialog = true;
    },
    delGrp(grpId, title) {
      if (confirm(`Вы действительно хотите удалить группу "${title}"?`)) {
        this.$http.delete(`/groups/${grpId}/`).then(() => {
          this.showMessage("Группа удалена");
          this.fetchGrps();
        });
      }
    },
    addGrp() {
      this.currentGrp = undefined;
      this.dialog = true;
    },
    frmDone() {
      this.fetchGrps();
      this.dialog = false;
    }
  },
  mounted() {
    this.fetchGrps();
  }
};
</script>
