<template lang="pug">
  v-form(ref="form" @submit.prevent="sendForm")
    card-toolbar(
      :title="modalTitle"
      v-on:close="$emit('done')"
      buttons
    )
      v-container(grid-list-md)
        v-layout(wrap)
          v-flex(xs12 sm6 md4)
            char-field(
              v-model="frm.title"
              label="Название"
              :maxLen="127"
              required
            )
          v-flex(xs12 sm6 md4)
            uname-field(
              v-model="frm.code"
              label="Тех код"
              :maxLen="12"
            )
</template>

<script>
import baseComponent from "../../plugins/baseComponent";
import charField from "../../plugins/fields/charField";
import unameField from "../../plugins/fields/unameField";
import cardToolbar from "../../plugins/cardToolbar";

export default {
  name: "group-form",
  mixins: [baseComponent],
  components: {
    charField,
    unameField,
    cardToolbar
  },
  props: {
    group: {
      type: Object,
      default() {
        return {
          pk: 0,
          title: "",
          code: ""
        };
      }
    }
  },
  data() {
    return {
      frm: Object.assign({}, this.group)
    };
  },
  computed: {
    modalTitle() {
      if (this.group && this.group.pk) {
        return "Изменить группу";
      } else {
        return "Добавить группу";
      }
    }
  },
  watch: {
    group(g) {
      this.frm = Object.assign({}, g);
    }
  },
  methods: {
    sendForm() {
      if (this.$refs.form.validate()) {
        let r, t;
        if (this.frm.pk === 0) {
          r = this.$http.post("/groups/", this.frm);
          t = "Группа добавлена";
        } else {
          r = this.$http.put(`/groups/${this.frm.pk}/`, this.frm);
          t = "Группа изменена";
        }
        r.then(() => {
          this.showMessage(t);
          this.$emit("done");
        });
      } else {
        this.showMessage("Ошибка в форме");
      }
    }
  }
};
</script>
