<template lang="pug">
  v-text-field(
    v-on:input="$emit('input', $event)"
    :value="value"
    :label="label"
    :required="required"
    :autofocus="autofocus"
    :counter="maxLen"
    :error-messages="errs"
    :rules="rul"
    :prepend-icon="ic"
  )
</template>

<script>
import baseField from "./baseField";

export default {
  name: "char-field",
  mixins: [baseField],
  props: {
    value: String,
    label: {
      type: String,
      default: "Текст"
    },
    maxLen: Number
  }
};
</script>
