<template lang="pug">
  v-text-field(
    :value="value"
    v-on:input="$emit('input', $event)"
    :label="label"
    type="number"
    :required="required"
    :autofocus="autofocus"
    :rules="rul"
    :error-messages="errs"
  )
</template>

<script>
import VAL from "../../plugins/validate_rules";
import baseField from "./baseField";

export default {
  name: "number-field",
  mixins: [baseField],
  props: {
    value: Number,
    label: {
      type: String,
      default: "Текст"
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 0x7fffffff
    },
    positive: {
      type: Boolean,
      default: false
    }
  },
  data() {
    let rul = [
      VAL.required,
      VAL.isDigit,
      v =>
        Number(v) <= this.max ||
        `Число должно быть меньше или равно ${this.max}`
    ];
    if (this.positive) {
      rul.push(VAL.digitPositive);
    }
    return {
      rul
    };
  }
};
</script>
