<template lang="pug">
  v-text-field(
    v-on:input="$emit('input', $event)"
    :value="value"
    :label="label"
    :counter="maxLen"
    :required="required"
    :autofocus='autofocus'
    type="password"
    :rules="val"
    :error-messages="errs"
    :prepend-icon="ic"
  )
</template>

<script>
import VAL from "../../plugins/validate_rules";
import baseField from "./baseField";

export default {
  name: "passw-field",
  mixins: [baseField],
  props: {
    value: String,
    label: {
      type: String,
      default: "Пароль"
    },
    maxLen: Number
  },
  data() {
    return {
      val: [VAL.required]
    };
  }
};
</script>
