<template lang="pug">
  v-text-field(
    v-on:input="$emit('input', $event)"
    :value="value"
    :label="label"
    :required="required"
    :autofocus="autofocus"
    :counter="maxLen"
    :rules="rul"
    :error-messages="errs"
  )
</template>

<script>
import VAL from "../../plugins/validate_rules";
import baseField from "./baseField";

export default {
  name: "phone-field",
  mixins: [baseField],
  props: {
    value: String,
    label: {
      type: String,
      default: "Текст"
    },
    maxLen: Number
  },
  data() {
    return {
      rul: [VAL.required, VAL.telephone]
    };
  }
};
</script>
