<template lang="pug">
  v-select(
    v-on:input="$emit('input', $event)"
    :value="value"
    :items="items"
    :required="required"
    :autofocus="autofocus"
    :label="label"
    :error-messages="errs"
    :hide-details="flat"
    :prepend-icon="ic"
    :rules="rul"
    hide-selected
    menu-props="offsetY"
    type="number"
  )
</template>

<script>
import baseField from "./baseField";

export default {
  mame: "select-field",
  mixins: [baseField],
  props: {
    value: Number,
    items: {
      type: Array,
      required: true
    },
    label: String,
    flat: {
      type: Boolean,
      default: false
    }
  }
};
</script>
